// МОИ СТИЛИ
@import 'partials/tables.scss';
@import 'partials/popf.scss';
@import 'partials/infastructure.scss';
@import 'partials/architecture.scss';
@import 'partials/module.scss';
@import 'partials/saas.scss';
@import 'partials/margin.scss';
@import 'partials/archMarg.scss';
@import 'partials/several.scss';
@import 'partials/allocation.scss';
@import 'partials/tailor.scss';
@import 'partials/ibsManagers.scss';
@import 'partials/presition.scss';
@import 'partials/career.scss';
@import 'partials/automanagers.scss';
@import 'partials/fiat.scss';
@import 'partials/enterpriceWork.scss';
@import 'partials/merchWork.scss';
@import 'partials/zero.scss';
@import 'partials/limit.scss';
@import 'partials/comp.scss';
@import 'partials/whatForex.scss';
@import 'partials/self.scss';
@import 'partials/steps.scss';
@import 'partials/castomer.scss';
@import 'partials/settelmentScheme.scss';
@import 'partials/risk.scss';
@import 'partials/connectivity.scss';
@import 'partials/structurewl.scss';
@import 'partials/accountswl4.scss';
@import 'partials/traderWork.scss';
@import 'partials/api.scss';
