.b2Scheme {
  width: 980px;
  box-sizing: border-box;
  background: #eff4f6;
  padding: 15px 15px 52px;

  &-wrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow-x: auto;
  }

  &-title {
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86px;
    background-color: #fff;
    margin-bottom: 90px;

    span {
      display: block;
      font-weight: bold;
      font-size: 21px;
      line-height: 35px;
      text-align: center;
      text-transform: capitalize;
      color: #3d3d3d;
      margin: 0 15px;
    }
  }

  &-svg1 {
    position: absolute;
    display: block;
    top: calc(100% + 20px);
  }

  &-svg2 {
    position: absolute;
    display: block;
    top: 100%;
  }

  &-svg3 {
    position: absolute;
    top: 62px;
    right: 100%;
  }

  &-svg4 {
    position: absolute;
    left: calc(100% + 20px);
  }

  &-svg5 {
    position: absolute;
    top: 62px;
    left: 100%;
  }

  &-row {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    padding: 0 69px;
  }

  .TableArch-item {
    height: 76px;
    width: 100%;
    margin-bottom: 14px;
  }

  &-item {
    height: 40px;
    width: 100%;
    background: #ffffff;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #637786;

    & + & {
      margin-top: 10px;
    }
  }

  &-col {
    width: 210px;
  }
}
