.comp {
  box-sizing: border-box;
  width: 980px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

  &-wrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
  }

  &-row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    &:nth-child(1) {
      .comp-col {
        min-height: 1px;
        height: 40px;
        background: #e8edf0;
        font-weight: bold;
        font-size: 13.9611px;
        line-height: 20px;
        text-align: center;
        color: #000000;

        &:nth-child(1) {
          padding-left: 10px;
          justify-content: center;
        }
      }
    }

    &:before {
      content: '';
      position: absolute;
      height: 1px;
      width: calc(100% - 4px);
      display: block;
      bottom: 0;
      left: 2px;
      background-color: #efefef;
    }

    &:last-child {
      &:before {
        display: none;
      }
    }
  }

  &-col {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;

    color: #3f3f3f;

    &:nth-child(1) {
      min-height: 78px;
      width: 290px;
      font-weight: 500;
      font-size: 16px;
      line-height: 21px;
      color: #3f3f3f;
      padding-left: 35px;
      justify-content: flex-start;
    }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4) {
      width: 130px;
    }

    &:nth-child(5) {
      width: 288px;
    }
  }
}
