.infastructure-margin {
  .infastructure-topCol {
    width: 100%;
  }

  .infastructure-servers {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 144px;
    width: 312px;
    padding: 0 60px;

    span {
      position: relative;
      z-index: 10;
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      letter-spacing: -0.292236px;
      color: #ffffff;
    }
  }

  &-wrap {
    position: relative;
    box-sizing: border-box;
    width: 310px;
    padding-left: 93px;

    svg {
      position: absolute;
      top: 19px;
      left: 0;
      display: block;
    }

    .infastructure-smallTopCol-item {
      position: relative;
      z-index: 2;
      height: 40px;
    }

    .infastructure-smallTopCol-item + .infastructure-smallTopCol-item {
      margin-top: 12px;
    }
  }

  &-col {
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
  }

  .infastructure-topCol-svg {
    display: block;
    margin: 0 auto 7px;
  }

  &-swormArrow {
    display: block;
    margin: 0 auto;
  }

  &-api {
    .infastructure-smallTopCol {
      width: 152px;

      .infastructure-topCol-item {
        box-sizing: border-box;
        width: 100%;
        padding: 8px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        align-items: center;
        text-align: center;
        letter-spacing: -0.292236px;
        color: #ffffff;
      }

      &:nth-child(3) {
        position: relative;

        .infastructure-topCol-svg {
          position: absolute;
          top: 100%;
          left: 50%;
        }
      }
    }
  }

  &-accounts {
    .infastructure-smallTopCol {
      &:nth-child(2),
      &:nth-child(5),
      &:nth-child(8) {
        .infastructure-topCol-svg {
          margin-left: 15px;
        }
      }
    }
  }

  &-api2 {
    justify-content: flex-start;

    .infastructure-smallTopCol {
      &:nth-child(1) {
        margin-right: 8px;
      }
    }

    .infastructure-smallTopCol-item {
      height: 77px;
      padding: 10px;
    }
  }

  &-api3 {
    margin-top: 22px;
  }

  &-swarmSvg2 {
    display: block;
    margin: 0 auto;
  }

  &-api4 {
    margin-bottom: 41px;

    .infastructure-smallTopCol {
      width: 303px;

      .infastructure-topCol-item {
        height: 88px;
        width: 100%;
        text-align: center;
        font-weight: 500;
        font-size: 21px;
        line-height: 25px;
        text-align: center;
        letter-spacing: -0.292236px;
        text-transform: capitalize;
        color: #ffffff;
      }
    }
  }

  &-user-svg {
    position: absolute;
    left: 100%;
    bottom: 38px;
    display: block;
  }

  .infastructure-botCol-item + .infastructure-botCol-item {
    margin-top: 12px;
  }

  .infastructure-botRow {
    .infastructure-botCol {
      &:nth-child(2) {
        width: 210px;
        margin-right: 92px;
      }

      &:nth-child(3) {
        .infastructure-margin-user-svg {
          right: 100%;
          left: auto;
        }
      }
    }
  }

  &-nextArrow {
    display: block;
    margin: 12px auto;
  }

  &-botCol-item {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 100%;
    padding: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0.292236px;
    color: #ffffff;
    background: #1d262f;
    border-radius: 0px;
  }
}
