.riskSchem {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 980px;
  padding: 15px;
  background: #1d262f;
  border: 3px solid #2e3740;
  box-sizing: border-box;
  border-radius: 5px;

  .settelmentScheme-block {
    position: relative;

    .riskSchem-svg {
      width: auto;
      margin-right: 0;
    }
  }

  .TableArch-item {
    position: relative;
    width: 100%;
    height: 86px;

    &:after {
      background: #1d262f;
    }

    span {
      font-size: 21px;
      color: #fff;
      line-height: 24px;
    }
  }

  &-wrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    overflow-x: auto;
  }

  &-col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    &:nth-child(1) {
      width: 210px;
      margin-right: 20px;

      .TableArch-item {
        height: 107px;
        margin-top: 380px;
        span {
          span {
            font-size: 16px;
          }
        }
      }
    }

    &:nth-child(2) {
      width: 226px;
      padding: 0 16px;
      background: #2e3740;

      .riskSchem-items-wrap {
        margin-top: 310px;
      }
    }

    &:nth-child(3) {
      width: 226px;

      .TableArch-item {
        margin-bottom: 126px;
      }

      .settelmentScheme-block {
        width: 171px;
        margin-right: auto;
        margin-left: 39px;

        span {
          width: 40px;
        }
      }
      .settelmentScheme-block + .settelmentScheme-block {
        margin-top: 41px;
      }
    }

    &:nth-child(4) {
      box-sizing: border-box;
      width: 226px;
      background: #2e3740;
      padding-bottom: 25px;

      .TableArch-item {
        margin-bottom: 44px;
      }

      .settelmentScheme-block {
        height: 76px;
        width: 171px;
        background: #1d262f;
        margin-left: 30px;
      }

      .settelmentScheme-block + .settelmentScheme-block {
        margin-top: 5px;
      }
    }
  }

  &-items {
    &-wrap {
      position: relative;
      box-sizing: border-box;
      padding: 11px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 4px;
      }

      &:after {
        content: '';
        position: absolute;
        z-index: 2;
        display: block;
        left: 4px;
        top: 4px;
        width: calc(100% - 8px);
        height: calc(100% - 8px);
        background: #2e3740;
      }

      &--blue {
        &:before {
          background: linear-gradient(to right, #0272d9, #42a3fd);
        }
      }
    }

    &-title {
      position: relative;
      z-index: 4;
      display: block;
      box-sizing: border-box;
      font-weight: normal;
      padding: 10px;
      font-size: 14px;
      line-height: 21px;
      text-align: center;
      color: #eff4f6;
      margin-bottom: 10px;
    }
  }

  &-item {
    position: relative;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 76px;
    background: #1d262f;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;

    & + & {
      margin-top: 10px;
    }
  }

  &-svg1 {
    position: absolute;
    display: block;
    left: calc(100% - 19px);
  }

  &-svg2 {
    position: absolute;
    display: block;
    left: calc(100% + 11px);
  }

  &-svg3 {
    position: absolute;
    display: block;
    top: 14px;
    right: calc(100% + 5px);
  }

  &-svg4 {
    position: absolute;
    display: block;
    left: 100%;
    bottom: 12px;
  }

  &-svg5 {
    position: absolute;
    display: block;
    left: 100%;
  }

  &-svg6 {
    position: absolute;
    display: block;
    left: 100%;
    top: 12px;
  }

  &-svg7 {
    position: absolute;
    display: block;
    left: 100%;
  }
}

.riskSchem-wrap-2 {
  .riskSchem-col {
    .TableArch-item {
      margin-bottom: 221px;
    }

    &:nth-child(3) {
      .settelmentScheme-block {
        height: 254px;
        margin-left: 21px;
      }
    }

    &:nth-child(4) {
      .TableArch-item {
        margin-bottom: 44px;
      }
    }
  }

  .riskSchem-svg7 {
    width: auto;
  }
}
