.steps {
  width: 980px;
  box-sizing: border-box;
  padding-top: 4px;
  font-family: 'Roboto Condensed', sans-serif;

  &-wrap {
    width: 100%;
    max-width: 980px;
    overflow-x: auto;
    margin: 0 auto;
  }

  &-row {
    position: relative;
    box-sizing: border-box;
    padding: 0 19px 0 9px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;

    & + & {
      margin-top: 25px;
    }

    &:nth-child(1) {
      .steps-item {
        position: relative;
        z-index: 2;
        width: 766px;

        &:nth-child(2) {
          position: absolute;
          right: 19px;
          top: 0;
          z-index: 1;
          justify-content: flex-end;
          width: calc(100% - 31px);
          padding: 0 15px;
          font-style: italic;
          font-weight: bold;
          font-size: 10px;
          line-height: 13px;
          color: #ffffff;

          svg {
            position: absolute;
            right: 98px;
          }

          background: rgba(79, 160, 142, 0.6);
        }
      }
    }

    &:nth-child(2) {
      .steps-item {
        &:nth-child(1) {
          width: 197px;
        }

        &:nth-child(2) {
          width: 189px;
        }
      }
    }

    &:nth-child(3) {
      .steps-item {
        &:nth-child(1) {
          width: 232px;
          margin-left: auto;
        }

        &:nth-child(2) {
          width: 143px;
          margin-right: 193px;
        }
      }
    }

    &:nth-child(4),
    &:nth-child(5) {
      .steps-item {
        &:nth-child(1) {
          width: 383px;
          margin-left: auto;
        }
      }
    }

    &:nth-child(6) {
      .steps-item {
        &:nth-child(1) {
          width: 378px;
          margin-left: auto;
        }

        &:nth-child(2) {
          width: 190px;

          span {
            display: block;
            margin-left: auto;
          }
        }
      }
    }

    &:nth-child(7) {
      .steps-item {
        &:nth-child(1) {
          width: 190px;
          margin-left: auto;
        }
      }
    }

    &:nth-child(8) {
      .steps-item {
        &:nth-child(1) {
          width: 168px;
          margin-left: auto;
        }
      }
    }

    &:last-child {
      justify-content: space-between;
      margin: 57px 0 0;
      padding: 0;
    }
  }

  &-item {
    min-height: 21px;
    box-sizing: border-box;
    padding: 3px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 12px;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;

    &-green {
      background: #0a9d7e;
    }

    &-lightGreen {
      background: #2ab698;
    }

    &-darkBlue {
      background: #0b2c5e;
    }

    &-blue {
      background: #20457c;
    }

    &-blue2 {
      background: #0e7bc1;
    }

    &-lightBlue {
      background: #2f86bf;
    }

    &-lightBlue2 {
      background: #4698cd;
    }

    &-grayBlue {
      background: #3a6785;
    }

    &-orange {
      background: #ff6645;
    }

    &-lightOrange {
      background: #ff8845;
    }

    & + & {
      margin-left: 4px;
    }
  }

  &-color {
    width: 17px;
    height: 17px;
    border-radius: 50%;

    &-item {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      & + & {
        margin-left: 33px;
      }
    }

    &-text {
      display: block;
      margin-left: 10px;
      font-weight: normal;
      font-size: 12px;
      line-height: 19px;
      color: #383838;
    }
  }

  &-start {
    position: relative;
    display: block;

    &-icon {
      border-radius: 50%;
      height: 8px;
      width: 8px;
      background: #383838;
      margin: 0 auto 7px;
    }

    &-text {
      display: block;
      font-weight: normal;
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: #637786;
    }

    &-svg {
      position: absolute;
      bottom: 100%;
      left: 49%;
      display: block;
      margin-bottom: 18px;

      &-slick {
        margin-bottom: 204px;
      }
    }
  }
}

.steps-wrap-turnkey {
  .steps-row:nth-child(3) .steps-item:nth-child(1) {
    width: 381px;
    margin-right: 182px;
  }

  .steps-row:nth-child(8) .steps-item:nth-child(1) {
    width: 190px;
  }
}

.steps-wrap-cryptocurency {
  max-width: 990px;
  .steps {
    width: 990px;
    overflow: hidden;
  }
  .steps-item {
    font-size: 10px;
  }

  .steps-row:nth-child(1) .steps-item:nth-child(1) {
    width: 635px;
  }

  .steps-row:nth-child(1) .steps-item:nth-child(2) {
    background: #0b2c5e;
    opacity: 0.5;
    font-size: 10px;
  }

  .steps-row:nth-child(2) .steps-item:nth-child(1) {
    width: 322px;
  }

  .steps-row:nth-child(2) .steps-item {
    position: relative;
    z-index: 2;
  }

  .steps-row:nth-child(1) .steps-item:nth-child(2) {
    right: 19px;
    width: calc(100% - 31px);
    height: 21px;

    svg {
      position: absolute;
      right: 156px;
    }
    span {
      margin-left: 77px;
    }
  }

  .steps-row:nth-child(2) .steps-item:nth-child(2) {
    position: absolute;
    right: 19px;
    top: 0;
    z-index: 1;
    justify-content: flex-end;
    width: calc(100% - 31px);
    padding: 0 15px;
    font-style: italic;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    color: #fff;
    opacity: 0.5;
    height: 21px;

    svg {
      position: absolute;
      right: 156px;
    }

    span {
      &:nth-child(1) {
        margin-right: 46px;
        font-weight: 400;
      }
      &:nth-child(3) {
        margin-left: 77px;
        margin-right: 10px;
      }
    }
  }

  .steps-row {
    padding: 0 19px 0 9px;
    &:nth-child(3) {
      .steps-item {
        &:nth-child(1) {
          width: 163px;
          margin-left: 0;
        }

        &:nth-child(2) {
          width: 156px;
        }
      }
    }

    &:nth-child(4) {
      .steps-item {
        width: 468px;
        margin-left: auto;
        margin-right: 168px;
      }
    }

    &:nth-child(5) {
      .steps-item {
        width: 160px;
        margin-left: auto;
        margin-right: 476px;
      }
    }

    &:nth-child(6) {
      .steps-item {
        width: 194px;
        margin-left: 394px;
      }
    }

    &:nth-child(7) {
      .steps-item {
        width: 315px;
        margin-right: 164px;
      }
    }

    &:nth-child(8) {
      .steps-item {
        width: 160px;
        margin-right: 158px;
      }
    }

    &:nth-child(9) {
      .steps-item {
        width: 160px;
        margin-left: auto;
        margin-right: 0;
      }
    }

    &:last-child {
      padding: 0;
    }
  }
}
