body {
  background-color: rgba(224, 222, 222, 0.575);
}

.circuit {
  &-wrapper {
    position: relative;
    overflow-x: auto;
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
  }
}

.StableCoins {
  &-table-overlay {
    position: relative;

    &-content {
      position: absolute;
      left: 0;
      bottom: 15px;
      z-index: 10;
      display: block;
      height: calc(100% - 168px);
      width: 100%;
      background: rgba(255, 255, 255, 0.75);
    }
  }
  &-table {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: stretch;
    width: 980px;
    padding: 15px;
    background-color: #fff;

    &-desc {
      display: flex;
      box-sizing: border-box;
      justify-content: flex-start;
      align-items: center;
      width: 980px;
      height: 127px;
      padding: 10px 57px;
      margin-top: 20px;
      font-weight: 500;
      font-size: 21px;
      line-height: 25px;
      letter-spacing: -0.292236px;
      text-transform: capitalize;
      color: #000000;
      background-color: #fff;
    }
  }

  &-row {
    position: relative;
    display: block;
    box-sizing: border-box;
    width: calc(25% - 45px / 4);

    &:nth-child(2) {
      .StableCoins-content {
        box-sizing: border-box;
        height: calc(100% - 138px);
        padding: 43px 18px 0;
        background: #eff4f6;
      }
    }

    &:nth-child(3) {
      .StableCoins-mark--gray {
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          z-index: 4;
          display: block;
          width: 100%;
          height: 100%;
          background: #eff4f6;
        }

        img,
        p {
          position: relative;
          z-index: 5;
        }
      }

      .StableCoins-mark--big {
        position: relative;
        box-sizing: border-box;
        max-width: 171px;
        margin-bottom: 0;

        &:first-child {
          margin-top: 45px;
        }

        &:nth-child(2) {
          margin-top: 10px;
        }

        &:nth-child(3) {
          margin-top: 142px;
        }

        &:nth-child(4) {
          margin-top: 324px;
        }
      }
    }

    &:first-child {
      .StableCoins-firstRow-svg {
        position: absolute;
        left: calc(100% - 27px);
        z-index: 2;
        bottom: 28px;
        display: block;
      }
    }

    &:last-child {
      .StableCoins-users {
        &-block {
          width: 73px;

          &:first-child {
            margin-top: 255px;
          }

          &:nth-child(2) {
            margin-top: 50px;
          }

          &:nth-child(3) {
            margin-top: 25px;
          }

          &:nth-child(4) {
            margin-top: 25px;
          }

          &:nth-child(5) {
            margin-top: 25px;
          }
        }

        &-iconWrapper {
          background: #eff4f6;
        }
      }
    }
  }

  &-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86px;
    width: 100%;
    margin-bottom: 15px;
    background: #eff4f6;

    &-icon {
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      height: 45px;
      width: 45px;
      margin-right: 20px;
      font-weight: normal;
      font-size: 25px;
      line-height: 41px;
      border-radius: 50%;
      color: #9dafbd;
      border: 3px solid #9dafbd;
      flex-shrink: 0;
    }

    &-title {
      font-weight: 500;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: -0.292236px;
      text-transform: capitalize;
      color: #000000;
    }

    &-subtitle {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 37px;
      width: 100%;
      font-weight: normal;
      font-size: 14px;
      line-height: 23px;
      text-align: center;
      color: #637786;
      background: #dce3ea;
    }
  }

  &-sendBase {
    border: 4px solid #03e2b2;
    box-sizing: border-box;
    padding: 6px;
    border-radius: 4px;

    &-item {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #637786;

      & + & {
        margin-top: 10px;
      }

      &:first-child {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 76px;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        background: #ffffff;
        text-align: center;
        color: #637786;
      }

      &:nth-child(2) {
        height: 87px;
        background: rgba(220, 227, 234, 0.6);
        mix-blend-mode: multiply;
        opacity: 0.5;
        border-radius: 5px;
      }

      &:last-child {
        height: 129px;
        background: #ffffff;
      }

      &-svg3 {
        position: absolute;
        top: 54px;
        right: -60px;
        display: block;
      }

      &-svg2 {
        position: absolute;
        top: 15px;
        left: calc(100% - 15px);
        display: block;
      }

      &-svg1 {
        position: absolute;
        top: 37px;
        right: calc(100% - 15px);
        display: block;
      }
    }
  }

  &-users {
    display: block;
    box-sizing: border-box;
    max-width: 191px;
    margin: 0 auto;
    padding: 10px;
    background: #eff4f6;
    border-radius: 8px;

    & + & {
      margin-top: 30px;
    }

    &-arrow {
      display: block;
      margin: 0 auto;

      & + .StableCoins-mark:not(.StableCoins-mark--big) {
        margin-top: 0;
        margin-bottom: 5px;
      }
    }

    &:first-child {
      margin-top: 110px;
    }

    &-block {
      overflow: hidden;
      display: block;
      box-sizing: border-box;
      height: 76px;
      width: 72px;
      margin: 0 auto;
      background: #ffffff;
      border-radius: 6px;
    }

    &-iconWrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 54px;

      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        height: 40px;
        width: 40px;
        margin-top: -20px;
        margin-left: -20px;
        background: #dce3ea;
      }
    }

    &-icon {
      position: relative;
      z-index: 2;
      display: block;
      margin-top: auto;
      margin-bottom: 7px;
    }

    &-title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 22px;
      width: 100%;
      font-weight: 500;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.292236px;
      color: #ffffff;

      &--green {
        background: linear-gradient(
          90deg,
          rgba(1, 189, 149, 0.8) 1.59%,
          rgba(0, 232, 182, 0.8) 97.53%
        );
      }

      &--blue {
        background: linear-gradient(
          90deg,
          rgba(2, 114, 217, 0.8) 1.59%,
          rgba(66, 163, 253, 0.8) 93.04%
        );
      }

      &--lightBlue {
        background: linear-gradient(
          90deg,
          rgba(0, 218, 232, 0.8) 1.59%,
          rgba(0, 163, 255, 0.8) 93.04%
        );
      }

      &--gray {
        background: #9dafbd;
      }
    }

    &-pay {
      .StableCoins-users-iconWrapper:before {
        display: none;
      }

      .StableCoins-users-title {
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
      }
    }
  }

  &-mark {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    margin: 10px auto 4px;

    &-icon {
      display: block;
      height: 16px;
      width: 16px;
      margin-right: 6px;
    }

    &-text {
      display: block;
      font-weight: normal;
      font-size: 14px;
      line-height: 19px;
      color: #637786;

      &--green {
        color: #33cdad;
      }
    }

    &--big {
      height: 40px;
      margin-top: 12px;
      margin-bottom: 0;
      background-color: #fff;

      &:first-child {
        margin-top: 0;
        margin-bottom: 15px;
      }

      .StableCoins-mark-icon {
        height: 25px;
        width: 25px;
        margin-right: 10px;
      }
    }

    &--border {
      box-sizing: border-box;
      background: #ffffff;
      border: 2px solid #eff4f6;
    }

    &--gray {
      background: #eff4f6;
    }
  }

  &-row3-svg {
    position: absolute;
    top: 12px;
    left: 100%;
    display: block;
    z-index: 2;
    margin-left: -15px;
  }

  &-row4-svg {
    position: absolute;
    top: -56%;
    left: 100%;
    display: block;
    margin-left: -15px;
  }
}

.StableCoins-heading-col.StableCoins-heading-col--active {
  .StableCoins-heading-icon {
    color: #01bd95;
    border-color: #01bd95;
  }

  .StableCoins-heading-subtitle {
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
    color: #fefefe;
    background: #21c5a2;
  }
}

.StableCoins-users--active {
  position: relative;
  z-index: 20;

  .StableCoins-mark--big {
    background: #ffffff;
    border: 4px solid #03e2b2;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .StableCoins-users-arrow {
    path {
      fill: #03e2b2;
    }
  }

  .StableCoins-users-arrow-disabled {
    path {
      fill: #b0c4d4;
    }
  }
}

.StableCoins-mark--active {
  position: relative;
  z-index: 20;
  background: #ffffff;
  border: 4px solid #03e2b2;
  box-sizing: border-box;
  border-radius: 4px;

  .StableCoins-step2-svg-active {
    position: absolute;
    top: 59%;
    right: 104%;
  }
}

.StableCoins-sendBase-item-active {
  position: relative;
  z-index: 20;
  letter-spacing: -0.5px;

  &:before {
    content: '';
    position: absolute;
    z-index: 21;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 4px solid #03e2b2;
    border-radius: 4px;
  }
}

.StableCoins-step2-svg2-active {
  position: absolute;
  top: 37px;
  right: 91.5%;
  display: block;
}

.StableCoins-disabled-arrow {
  opacity: 0.3;
}

.StableCoins-arrow-step2-svg3-active {
  position: absolute;
  left: 95%;
  display: block;
}

.StableCoins-users--firstPosition {
  z-index: 21;
}

.StableCoins-step3-svg1-active {
  position: absolute;
  display: block;
  left: 89%;
  top: 42%;
}

.StableCoins-sendBase-item-greenBorder {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    border: 4px solid #03e2b2;
    border-radius: 4px;
  }
}

.StableCoins-row:nth-child(3) {
  .StableCoins-mark--gray.StableCoins-mark--active {
    svg {
      top: 8px;
    }

    .StableCoins-step4-svg2-active {
      position: absolute;
      left: 147px;
      top: -3px;
      display: block;
    }
  }
}

.StableCoins-step2-2-svg-active {
  position: absolute;
  top: 42%;
  right: 86%;
  display: block;
}

.StableCoins-step3-2-svg1-active {
  top: 47%;
}

.StableCoins-row:nth-child(3) .StableCoins-mark--gray.StableCoins-mark--active:last-child svg {
  top: -83%;
}

.StableCoins-row:nth-child(3)
  .StableCoins-mark--gray.StableCoins-mark--active
  .StableCoins-step4-2-svg2-active {
  top: 15px;
}

.StableCoins-users-block--active {
  position: relative;
  z-index: 20;
}

.StableCoins-green-active-arrow {
  path {
    fill: #03e2b2;
  }
}

.fbtf-schem {
  width: 910px;
  margin: 0 auto;
  background: #242f3c;

  &-crypto {
    .fbtf-schem-bottomCol:first-child,
    .fbtf-schem-bottomCol:last-child {
      margin-top: 8px;
    }
    .fbtf-schem-bottomCol:nth-child(2) {
      width: 313px;
      margin-left: 10px;

      .fbtf-schem-icon {
        margin-right: auto;
      }
    }

    .fbtf-schem-bottomCol-wrapper {
      position: relative;
      box-sizing: border-box;
      width: 100%;
      padding: 8px;
      border-radius: 16px;
      border: 2px solid #424d5b;

      .fbtf-schem-bottomCol-absArrow {
        top: 40px;
        left: -42px;
      }
    }
  }

  &-topRow {
    position: relative;
    box-sizing: border-box;
    width: calc(100% - 20px);
    margin-left: auto;
    padding-bottom: 73px;

    &-verticalArrow-svg {
      position: absolute;
      left: 50%;
      bottom: 20px;
      margin-left: -8px;
    }

    &-svg {
      position: absolute;
      top: 32px;
      display: block;

      &-1 {
        left: 115px;
      }

      &-2 {
        right: 132px;
      }
    }
  }

  &-topCol {
    box-sizing: border-box;
    width: 283px;
    margin: 0 auto;
  }

  &-item {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 81px;
    padding: 10px;
    background: linear-gradient(96.97deg, #424d5b 19.27%, #3b4654 89.64%);
    border-radius: 11px;

    &--flex {
      flex-direction: row;
    }

    &--slice {
      height: 61px;
    }
  }

  &-iconWrap {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    height: 52px;
    width: 112px;
    margin-right: 18px;
    border-right: 1px solid rgba(255, 255, 255, 0.2);
  }

  &-title {
    display: block;
    font-weight: 500;
    font-size: 10px;
    line-height: 19px;
    text-transform: uppercase;
    color: #ffffff;
    opacity: 0.4;
    margin: 0;
  }

  &-desc {
    display: block;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    margin: 0;
  }

  &-subitem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #eff4f6;
    background: #313b47;

    & + & {
      margin-top: 5px;
    }

    &-wrapper {
      position: relative;
      box-sizing: border-box;
      padding: 20px 30px 0 62px;
    }
  }

  &-topCol-subitem-svg {
    position: absolute;
    top: 0;
    left: 24px;
    display: block;
  }

  &-bottomRow {
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    .fbtf-schem-item + .fbtf-schem-item {
      margin-top: 20px;
    }

    &-verticalArrow-svg {
      display: block;
      margin: 20px auto;
    }
  }

  &-bottomCol {
    &-andItem {
      display: block;
      font-weight: normal;
      font-size: 12px;
      line-height: 23px;
      text-align: center;
      color: #8b929a;
    }

    &:first-child {
      width: 271px;

      .fbtf-schem-subitem-wrapper {
        padding-left: 50px;
      }

      .fbtf-schem-topCol-subitem-svg {
        left: 13px;
      }
    }

    &:nth-child(2) {
      box-sizing: border-box;
      width: 297px;
      padding-left: 10px;
    }

    &:last-child {
      width: 271px;

      .fbtf-schem-subitem-wrapper {
        padding-right: 50px;
        padding-left: 30px;
      }

      .fbtf-schem-topCol-subitem-svg {
        left: auto;
        right: 13px;
      }
    }
  }

  &-bottomCol-absArrow {
    position: absolute;
    left: -41px;

    &-wrapper {
      position: relative;
    }
  }
}

.fbtf-schem {
  &-cryptocurrency {
    box-sizing: border-box;
    width: 980px;
    background: #242f3b;
    border: 6px solid #313b47;
    box-sizing: border-box;
    border-radius: 7px 7px 0 0;

    &-topRow {
      box-sizing: border-box;
      padding: 80px 108px 99px;
    }

    &-bottomRow {
      box-sizing: border-box;
      padding: 39px 125px;
      font-weight: normal;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: -0.5px;
      color: #ffffff;
      background: #313b47;
    }

    &-topCol {
      position: relative;
      display: flex;
      box-sizing: border-box;
      justify-content: center;
      align-items: center;
      padding-bottom: 71px;

      .fbtf-schem-topCol {
        margin: 0;
      }

      &-arrow {
        position: absolute;
        left: 167px;
        bottom: 18px;
        display: block;
      }

      &-bigArrow {
        position: absolute;
        top: 33px;
        left: -40px;
        display: block;
      }

      .fbtf-schem-topCol {
        width: 278px;
      }

      &:nth-child(2),
      &:nth-child(3) {
        align-items: flex-start;

        .fbtf-schem-item--slice {
          position: relative;
          z-index: 3;
          width: 255px;
          margin-top: 20px;
          margin-left: 24px;
        }

        .fbtf-schem-horizontal-arrow {
          margin-top: 32px;
        }

        .fbtf-schem-topCol {
          width: 287px;

          .fbtf-schem-iconWrap {
            margin-right: 12px;
            justify-content: flex-start;
          }
        }

        .fbtf-schem-topCol {
          &:last-child {
            .fbtf-schem-subitem-wrapper {
              padding: 20px 50px 0 27px;
            }
            .fbtf-schem-topCol-subitem-svg {
              left: auto;
              right: 13px;
            }
          }
        }
      }

      &:nth-child(3) {
        padding-bottom: 0;

        .fbtf-schem-topCol:last-child .fbtf-schem-subitem-wrapper {
          padding-right: 60px;
        }

        .fbtf-schem-topCol:last-child .fbtf-schem-topCol-subitem-svg {
          right: 22px;
        }

        .fbtf-schem-topCol:last-child {
          .fbtf-schem-item:last-child {
            position: relative;
            z-index: 3;
            width: 261px;
            margin-top: 20px;
            margin-right: auto;
          }
        }
      }
    }
  }

  &-horizontal-arrow {
    display: block;
    margin: 0 16px;
  }
}
